@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom Table
.page-table {
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgb(215, 215, 215);
  overflow: auto;
  box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.1);

  tr>th {
    font-weight: 600;
    padding: 8px !important;
    text-transform: uppercase;
    background: linear-gradient(90deg, #8a8a8a, #d5d5d5);
    color: #062e6f;
  }

  tr>td {
    padding: 8px !important;
    font-size: 15px;
  }
}